*{
    font-family: Sans-Serif;
}

.js-backGround{
    position: relative;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.js-pageViewSplashHtml{
    position: fixed;
    background-image: url("logo.png"), url("paper.jpg");
    background-size: 75vw, cover;
}

.js-pageViewInstructionsHtml{
    position: fixed;
    background-image: url(overlay.png), url("logo.png"), url("paper.jpg");
    background-size: cover, 75vw, cover;
}

p{
    font-weight: 600;
    padding-top: 0.75em;
}

.techNote{
    font-weight: 300;
    font-size: 0.8em;
}

.js-pageViewMainHtml{
    position: fixed;
    background-image: url("Main_Back.jpg");
    background-size: initial;
    background-repeat: repeat;
    height: 100vh;
    background-color: linen;
}

.mainBox{
    width: 350px;
    border: solid 1px grey;
    padding-bottom: 15px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgba(234, 234, 234, 0.85);
}

.js-pageViewRansomNoteHtml{
    position: relative;
    height: 100vh;
}

h1{
    font-size: 1.2em;
    font-weight: 800;
    padding-top: 15px;
    text-align: center;
}

.js-textForm{
    font-weight: 700;
}

body{
    margin: 0;
    padding: 0;
    background: #302f2f;
    text-align: center;
}

.finalHint{
    width: 310px;
    height: 18px;
    margin: 0 auto;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    color: limegreen;
}

.buttonForm{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.buttonBox{
    margin: 0 auto;
    padding-bottom: 1vh;
    min-height: 30px;
    height: 5vh;
    width: 180px;
}

.js-button{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    font-size: 1em;
    font-weight: 700;
}

.ransomButtonBox{
    width: 310px;
}

.js-shuffleButton, .js-distortButton, .js-undistortButton{
    display: inline-block;
    width: 28%;
}

.js-userButton{
    width: 65%;
}

.instructionsBox{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    padding-right: 0.6em;
    padding-left: 0.6em;
    padding-bottom: 0.6em;
    width: 85vw;
    max-height: 80vh;
    overflow: auto;
    background-color: rgb(234, 234, 234);
    border: 3px solid gray;
}

.inputBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.js-inputLine{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    width: 190px;
}

.js-lineLabel{
    padding-right: 4px;
}

.countDown{
    display: inline-block;
    width: 40px;
    margin-left: 4px;
    padding-top: 2px;
    border: 1px solid gray;
    background-color: white;
}

.display{
    position: absolute;
    width: 100%;
    top: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 0.7vh;
    background-color: black;
}

.picTray{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 13vh;
    background-color: black;
    color: white;
}

.js-charPic{
    width: 5.2vw;
    height: 5.2vw;
    padding-left: 1px;
    padding-right: 1px;
}

.space{
    display: inline-block;
    width: 2.6vw;
    background-color: black;
}

:root {
    --rotate0: 0deg;
    --scale0: 1;
    --rotate1: 0deg;
    --scale1: 1;
    --rotate2: 0deg;
    --scale2: 1;
    --rotate3: 0deg;
    --scale3: 1;
    --rotate4: 0deg;
    --scale4: 1;
    --rotate5: 0deg;
    --scale5: 1;
    --rotate6: 0deg;
    --scale6: 1;
    --rotate7: 0deg;
    --scale7: 1;
    --rotate8: 0deg;
    --scale8: 1;
    --rotate9: 0deg;
    --scale9: 1;
    --rotate10: 0deg;
    --scale10: 1;
    --rotate11: 0deg;
    --scale11: 1;
    --rotate12: 0deg;
    --scale12: 1;
    --rotate13: 0deg;
    --scale13: 1;
    --rotate14: 0deg;
    --scale14: 1;
    --rotate15: 0deg;
    --scale15: 1;
    --rotate16: 0deg;
    --scale16: 1;
    --rotate17: 0deg;
    --scale17: 1;
    --rotate18: 0deg;
    --scale18: 1;
    --rotate19: 0deg;
    --scale19: 1;
    --rotate20: 0deg;
    --scale20: 1;
    --rotate21: 0deg;
    --scale21: 1;
    --rotate22: 0deg;
    --scale22: 1;
    --rotate23: 0deg;
    --scale23: 1;
    --rotate24: 0deg;
    --scale24: 1;
    --rotate25: 0deg;
    --scale25: 1;
    --rotate26: 0deg;
    --scale26: 1;
    --rotate27: 0deg;
    --scale27: 1;
    --rotate28: 0deg;
    --scale28: 1;
    --rotate29: 0deg;
    --scale29: 1;
    --rotate30: 0deg;
    --scale30: 1;
    --rotate31: 0deg;
    --scale31: 1;
    --rotate32: 0deg;
    --scale32: 1;
    --rotate33: 0deg;
    --scale33: 1;
    --rotate34: 0deg;
    --scale34: 1;
    --rotate35: 0deg;
    --scale35: 1;
    --rotate36: 0deg;
    --scale36: 1;
    --rotate37: 0deg;
    --scale37: 1;
    --rotate38: 0deg;
    --scale38: 1;
    --rotate39: 0deg;
    --scale39: 1;
    --rotate40: 0deg;
    --scale40: 1;
    --rotate41: 0deg;
    --scale41: 1;
    --rotate42: 0deg;
    --scale42: 1;
    --rotate43: 0deg;
    --scale43: 1;
    --rotate44: 0deg;
    --scale44: 1;
    --rotate45: 0deg;
    --scale45: 1;
    --rotate46: 0deg;
    --scale46: 1;
    --rotate47: 0deg;
    --scale47: 1;
    --rotate48: 0deg;
    --scale48: 1;
    --rotate49: 0deg;
    --scale49: 1;
    --rotate50: 0deg;
    --scale50: 1;
    --rotate51: 0deg;
    --scale51: 1;
    --rotate52: 0deg;
    --scale52: 1;
    --rotate53: 0deg;
    --scale53: 1;
    --rotate54: 0deg;
    --scale54: 1;
    --rotate55: 0deg;
    --scale55: 1;
    --rotate56: 0deg;
    --scale56: 1;
    --rotate57: 0deg;
    --scale57: 1;
    --rotate58: 0deg;
    --scale58: 1;
    --rotate59: 0deg;
    --scale59: 1;
    --rotate60: 0deg;
    --scale60: 1;
    --rotate61: 0deg;
    --scale61: 1;
    --rotate62: 0deg;
    --scale62: 1;
    --rotate63: 0deg;
    --scale63: 1;
    --rotate64: 0deg;
    --scale64: 1;
    --rotate65: 0deg;
    --scale65: 1;
    --rotate66: 0deg;
    --scale66: 1;
    --rotate67: 0deg;
    --scale67: 1;
    --rotate68: 0deg;
    --scale68: 1;
    --rotate69: 0deg;
    --scale69: 1;
    --rotate70: 0deg;
    --scale70: 1;
    --rotate71: 0deg;
    --scale71: 1;
    --rotate72: 0deg;
    --scale72: 1;
    --rotate73: 0deg;
    --scale73: 1;
    --rotate74: 0deg;
    --scale74: 1;
    --rotate75: 0deg;
    --scale75: 1;
    --rotate76: 0deg;
    --scale76: 1;
    --rotate77: 0deg;
    --scale77: 1;
    --rotate78: 0deg;
    --scale78: 1;
    --rotate79: 0deg;
    --scale79: 1;
    --rotate80: 0deg;
    --scale80: 1;
    --rotate81: 0deg;
    --scale81: 1;
    --rotate82: 0deg;
    --scale82: 1;
    --rotate83: 0deg;
    --scale83: 1;
    --rotate84: 0deg;
    --scale84: 1;
    --rotate85: 0deg;
    --scale85: 1;
    --rotate86: 0deg;
    --scale86: 1;
    --rotate87: 0deg;
    --scale87: 1;
    --rotate88: 0deg;
    --scale88: 1;
    --rotate90: 0deg;
    --scale90: 1;
}

.showPos0{
    transform: rotate(var(--rotate0)) scale(var(--scale0));
}

.showPos1{
    transform: rotate(var(--rotate1)) scale(var(--scale1));
}

.showPos2{
    transform: rotate(var(--rotate2)) scale(var(--scale2));
}

.showPos3{
    transform: rotate(var(--rotate3)) scale(var(--scale3));
}

.showPos4{
    transform: rotate(var(--rotate4)) scale(var(--scale4));
}

.showPos5{
    transform: rotate(var(--rotate5)) scale(var(--scale5));
}

.showPos6{
    transform: rotate(var(--rotate6)) scale(var(--scale6));
}

.showPos7{
    transform: rotate(var(--rotate7)) scale(var(--scale7));
}

.showPos8{
    transform: rotate(var(--rotate8)) scale(var(--scale8));
}

.showPos9{
    transform: rotate(var(--rotate9)) scale(var(--scale9));
}

.showPos10{
    transform: rotate(var(--rotate10)) scale(var(--scale10));
}

.showPos11{
    transform: rotate(var(--rotate11)) scale(var(--scale11));
}

.showPos12{
    transform: rotate(var(--rotate12)) scale(var(--scale12));
}

.showPos13{
    transform: rotate(var(--rotate13)) scale(var(--scale13));
}

.showPos14{
    transform: rotate(var(--rotate14)) scale(var(--scale14));
}

.showPos15{
    transform: rotate(var(--rotate15)) scale(var(--scale15));
}

.showPos16{
    transform: rotate(var(--rotate16)) scale(var(--scale16));
}

.showPos17{
    transform: rotate(var(--rotate17)) scale(var(--scale17));
}

.showPos18{
    transform: rotate(var(--rotate18)) scale(var(--scale18));
}

.showPos19{
    transform: rotate(var(--rotate19)) scale(var(--scale19));
}

.showPos20{
    transform: rotate(var(--rotate20)) scale(var(--scale20));
}

.showPos21{
    transform: rotate(var(--rotate21)) scale(var(--scale21));
}

.showPos22{
    transform: rotate(var(--rotate22)) scale(var(--scale22));
}

.showPos23{
    transform: rotate(var(--rotate23)) scale(var(--scale23));
}

.showPos24{
    transform: rotate(var(--rotate24)) scale(var(--scale24));
}

.showPos25{
    transform: rotate(var(--rotate25)) scale(var(--scale25));
}

.showPos26{
    transform: rotate(var(--rotate26)) scale(var(--scale26));
}

.showPos27{
    transform: rotate(var(--rotate27)) scale(var(--scale27));
}

.showPos28{
    transform: rotate(var(--rotate28)) scale(var(--scale28));
}

.showPos29{
    transform: rotate(var(--rotate29)) scale(var(--scale29));
}

.showPos30{
    transform: rotate(var(--rotate30)) scale(var(--scale30));
}

.showPos31{
    transform: rotate(var(--rotate31)) scale(var(--scale31));
}

.showPos32{
    transform: rotate(var(--rotate32)) scale(var(--scale32));
}

.showPos33{
    transform: rotate(var(--rotate33)) scale(var(--scale33));
}

.showPos34{
    transform: rotate(var(--rotate34)) scale(var(--scale34));
}

.showPos35{
    transform: rotate(var(--rotate35)) scale(var(--scale35));
}

.showPos36{
    transform: rotate(var(--rotate36)) scale(var(--scale36));
}

.showPos37{
    transform: rotate(var(--rotate37)) scale(var(--scale37));
}

.showPos38{
    transform: rotate(var(--rotate38)) scale(var(--scale38));
}

.showPos39{
    transform: rotate(var(--rotate39)) scale(var(--scale39));
}

.showPos40{
    transform: rotate(var(--rotate40)) scale(var(--scale40));
}

.showPos41{
    transform: rotate(var(--rotate41)) scale(var(--scale41));
}

.showPos42{
    transform: rotate(var(--rotate42)) scale(var(--scale42));
}

.showPos43{
    transform: rotate(var(--rotate43)) scale(var(--scale43));
}

.showPos44{
    transform: rotate(var(--rotate44)) scale(var(--scale44));
}

.showPos45{
    transform: rotate(var(--rotate45)) scale(var(--scale45));
}

.showPos46{
    transform: rotate(var(--rotate46)) scale(var(--scale46));
}

.showPos47{
    transform: rotate(var(--rotate47)) scale(var(--scale47));
}

.showPos48{
    transform: rotate(var(--rotate48)) scale(var(--scale48));
}

.showPos49{
    transform: rotate(var(--rotate49)) scale(var(--scale49));
}

.showPos50{
    transform: rotate(var(--rotate50)) scale(var(--scale50));
}

.showPos51{
    transform: rotate(var(--rotate51)) scale(var(--scale51));
}

.showPos52{
    transform: rotate(var(--rotate52)) scale(var(--scale52));
}

.showPos53{
    transform: rotate(var(--rotate53)) scale(var(--scale53));
}

.showPos54{
    transform: rotate(var(--rotate54)) scale(var(--scale54));
}

.showPos55{
    transform: rotate(var(--rotate55)) scale(var(--scale55));
}

.showPos56{
    transform: rotate(var(--rotate56)) scale(var(--scale56));
}

.showPos57{
    transform: rotate(var(--rotate57)) scale(var(--scale57));
}

.showPos58{
    transform: rotate(var(--rotate58)) scale(var(--scale58));
}

.showPos59{
    transform: rotate(var(--rotate59)) scale(var(--scale59));
}

.showPos60{
    transform: rotate(var(--rotate60)) scale(var(--scale60));
}

.showPos61{
    transform: rotate(var(--rotate61)) scale(var(--scale61));
}

.showPos62{
    transform: rotate(var(--rotate62)) scale(var(--scale62));
}

.showPos63{
    transform: rotate(var(--rotate63)) scale(var(--scale63));
}

.showPos64{
    transform: rotate(var(--rotate64)) scale(var(--scale64));
}

.showPos65{
    transform: rotate(var(--rotate65)) scale(var(--scale65));
}

.showPos66{
    transform: rotate(var(--rotate66)) scale(var(--scale66));
}

.showPos67{
    transform: rotate(var(--rotate67)) scale(var(--scale67));
}

.showPos68{
    transform: rotate(var(--rotate68)) scale(var(--scale68));
}

.showPos69{
    transform: rotate(var(--rotate69)) scale(var(--scale69));
}

.showPos70{
    transform: rotate(var(--rotate70)) scale(var(--scale70));
}

.showPos71{
    transform: rotate(var(--rotate71)) scale(var(--scale71));
}

.showPos72{
    transform: rotate(var(--rotate72)) scale(var(--scale72));
}

.showPos73{
    transform: rotate(var(--rotate73)) scale(var(--scale73));
}

.showPos74{
    transform: rotate(var(--rotate74)) scale(var(--scale74));
}

.showPos75{
    transform: rotate(var(--rotate75)) scale(var(--scale75));
}

.showPos76{
    transform: rotate(var(--rotate76)) scale(var(--scale76));
}

.showPos77{
    transform: rotate(var(--rotate77)) scale(var(--scale77));
}

.showPos78{
    transform: rotate(var(--rotate78)) scale(var(--scale78));
}

.showPos79{
    transform: rotate(var(--rotate79)) scale(var(--scale79));
}

.showPos80{
    transform: rotate(var(--rotate80)) scale(var(--scale80));
}

.showPos81{
    transform: rotate(var(--rotate81)) scale(var(--scale81));
}

.showPos82{
    transform: rotate(var(--rotate82)) scale(var(--scale82));
}

.showPos83{
    transform: rotate(var(--rotate83)) scale(var(--scale83));
}

.showPos84{
    transform: rotate(var(--rotate84)) scale(var(--scale84));
}

.showPos85{
    transform: rotate(var(--rotate85)) scale(var(--scale85));
}

.showPos86{
    transform: rotate(var(--rotate86)) scale(var(--scale86));
}

.showPos87{
    transform: rotate(var(--rotate87)) scale(var(--scale87));
}

.showPos88{
    transform: rotate(var(--rotate88)) scale(var(--scale88));
}

.showPos89{
    transform: rotate(var(--rotate89)) scale(var(--scale89));
}

.showPos90{
    transform: rotate(var(--rotate90)) scale(var(--scale90));
}