*{
    font-family: Sans-Serif;
}

body, html{
    height: 100%;
}

.js-backGround{
    position: relative;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.js-pageViewSplashHtml{
    position: fixed;
    background-image: url("logo.png"), url("paper.jpg");
    background-size: 75vw, cover;
}

.js-pageViewInstructionsHtml{
    position: fixed;
    background-image: url(overlay.png), url("logo.png"), url("paper.jpg");
    background-size: cover, 75vw, cover;
}

p{
    font-weight: 600;
    padding-top: 0.75em;
}

main{
    height: 100%;
}

.techNote{
    font-weight: 300;
    font-size: 0.8em;
}

.js-pageViewMainHtml{
    height: 100%;
    padding: 10px;
    background-image: url("Main_Back.jpg");
    background-size: initial;
    background-repeat: repeat;
    background-color: linen;
}

.mainBox{
    width: 350px;
    border: solid 1px grey;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: rgba(234, 234, 234, 0.85);
}

.js-pageViewRansomNoteHtml{
    position: relative;
    height: 100vh;
}

h1{
    font-size: 1.2em;
    font-weight: 800;
    padding-top: 15px;
    text-align: center;
}

.js-textForm{
    font-weight: 700;
}

body{
    margin: 0;
    padding: 0;
    background: #302f2f;
    text-align: center;
}

.finalHint{
    width: 310px;
    height: 18px;
    margin: 0 auto;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    color: limegreen;
}

.buttonForm{
    /* font-family: 'Archivo Black', roboto, sans-serif; */
    position: absolute;
    bottom: 3px;
    width: 100%;
}

.buttonBox{
    margin: 0 auto;
    padding-bottom: 1vh;
    min-height: 30px;
    height: 5vh;
    width: 200px;
}

.js-button{
    font-family: 'Archivo Black', roboto, sans-serif;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: rgb(6, 32, 146);
    border-color: rgb(59, 147, 173);
    background-color: rgb(174, 236, 255);
    font-size: .9em;
    font-weight: 700;
}

.ransomButtonBox{
    width: 320px;
}

.js-shuffleButton, .js-distortButton, .js-undistortButton{
    display: inline-block;
    width: 30%;
}

.js-userButton{
    width: 65%;
}

.instructionsBox{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
    padding-right: 0.6em;
    padding-left: 0.6em;
    padding-bottom: 0.6em;
    width: 85vw;
    max-height: 70vh;
    overflow: auto;
    background-color: rgb(234, 234, 234);
    border: 3px solid gray;
}

.inputBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.js-inputLine{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    width: 190px;
}

.js-lineLabel{
    padding-right: 4px;
}

.countDown{
    display: inline-block;
    width: 40px;
    margin-left: 4px;
    padding-top: 2px;
    border: 1px solid gray;
    background-color: white;
}

.display{
    position: absolute;
    width: 100%;
    top: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 0.7vh;
    background-color: black;
}

.picTray{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 13vh;
    background-color: black;
    color: white;
}

.js-charPic{
    width: 5.2vw;
    height: 5.2vw;
    padding-left: 1px;
    padding-right: 1px;
}

.space{
    display: inline-block;
    width: 2.6vw;
    background-color: black;
}