*{
    font-family: Sans-Serif;
}

.js-backGround{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.js-pageViewSplashHtml{
    position: fixed;
    background-image: url("logo.png"), url("paper.jpg");
    background-size: 75vw, cover;
}

.js-pageViewInstructionsHtml{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(overlay.png) repeat;
    text-align: center;
}

h1{
    font-size: 2em;
    font-weight: 700;
}

p, h1, .list{
    padding-top: 20px;
}

.list{
    list-style-type: disc;
    padding-left: 30px;
}

body{
    margin: 0;
    padding: 0;
    background: #efefef;
    text-align: center;
}

.buttonForm{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

.js-button{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    font-size: 1em;
    font-weight: 700;
}

.js-instructionsButton{
    width: 100%;
}

.js-userButton{
    width: 44%;
}

.buttonBox{
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
    width: 180px;
}

#wrapper{
    position: relative;
    display: block;
    width: 600px;
    margin: 0 auto;
    background: #fff;
    text-align: left;
    border: 1px solid #ccc;
    border-top: none;
    padding: 25px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
}

#lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(overlay.png) repeat;
    text-align: center;
}

#lightbox p{
    text-align: right;
    margin-right: 20px;
    font-size: 12px;
}

#lightbox img{
    position: relative;
    top: 35px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    max-width: 940px;
}

.exit{
    position: absolute;
    right: -5px;
    top: 15px;
    width: 25px;
    height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: black;
    background-color: white;
    border: 4px solid red;
    padding: 4px;
}

